$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;
$bar-border: #e2e2e2;

$feature-box-border: #b6b6b6;

$star-full-color: rgb(42, 42, 42);

$prom-image-bg: rgb(219, 232, 255);
$prom-button: rgb(255, 238, 245);
$promoted-banner-bg: #cccccc;

$image-bg: #f4f5f7;
$picture-bg: #e8edf7;
$gallery-price: #79ae30;

$brands-border-color: #ccc;
$brands-nav-bg-color: #2a2a2a;
$brands-nav-hover-color: #dca08c;
$brands-nav-width: 33px;
$brands-height: 92px;

$feedback-text-color: #676767;
