<div class="section--promotions">
  <div class="container row">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mobile">
      <div class="product">
        <div class="photo">
          <div class="row no-gutters dots hot-deals">
            <div class="col-lg-8 col-md-6 col-sm-6">
              <ul>
                <li>HOT DEALS</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <ul>
                <li><a href="#" class="active"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="overlay">
            <div class="buttons">
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12"><div class="picture"></div></div>
              <div class="col-lg-3 col-md-6 col-sm-12"><div class="picture"></div></div>
              <div class="col-lg-3 col-m-6 col-s-12"><div class="picture"></div></div>
              <div class="col-lg-3 col-m-6 col-s-12"><div class="picture"></div></div>
            </div>
          </div>
        </div>
        <div class="content">
          <h5>Aenean Ru Bristique</h5>
          <div class="stars">
            <a href="#" class="full"></a> <a href="#" class="full"></a>
            <a href="#"></a> <a href="#"></a> <a href="#"></a>
          </div>
        </div>
        <div class="line"></div>
        <div class="actions">
          <div class="outlines">
            <a href="#" class="btn-outline"><i class="fa fa-eye"></i></a>

            <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>

            <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
          </div>
          <div class="price">
            <div class="btn-main-small no-hover old-price">$ 30.00</div>
            <div class="btn-main-small no-hover">$ 30.00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
      <div class="product">
        <div class="photo-second">
          <div class="slogan">
            <h1>INDOOR <span>FURNITURE</span></h1>
            <h4>SAVE UP TO 50% OF ALL FURNITURE</h4>
          </div>
          <div class="buttons"><a href="#" class="btn-main">SHOP NOW</a></div>
        </div>
        <div class="row no-gutters brands-wrapper">
          <div class="col-6 brands-nav btn-main">
            <a href="#" class="prev"> <i class="fas fa-chevron-left"></i> </a>
          </div>
          <div class="col-6 brands-nav btn-main">
            <a href="#" class="next"> <i class="fas fa-chevron-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
