<div class="section-promotion">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="image-boxes image-box">
          <div class="image-overlay">
            <p class="text">Guest room</p>
            <p class="text text-big">Sofa</p>
            <p class="text text-promotion">-20%</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="image-boxes">
          <div class="image-box-small image-box-small-top flex-container">
            <div class="flex-item flex-item-left"></div>
            <div class="flex-item flex-item-center">
              <p class="text"><b>Office</b> chair</p>
              <p class="text text-coll">collection</p>
              <p class="text text-cash">$200.00</p>
            </div>
            <div class="flex-item flex-item-right"></div>
          </div>
          <div class="image-box-small image-box-small-bottom flex-container">
            <div class="flex-item-small flex-item-small-left"></div>
            <div class="flex-item-small">
              <p class="text text-prom"><b>Special</b> collection</p>
              <p class="text">save up 45% of furniture</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
