<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-md-auto heading col-sm-12"><h3>New furniture</h3></div>
        <div class="col-md menu col-sm-12">
          <ul>
            <li><span class="tab-product active">Bed</span></li>
            <li><span class="tab-product">Chair</span></li>
            <li><span class="tab-product">Sofa</span></li>
            <li><span class="tab-product">Table</span></li>
            <li><span class="tab-product">Dining</span></li>
          </ul>
        </div>
        <div class="col-md-auto dots col-sm-12"><ul></ul></div>
      </div>
    </div>
    <div class="tab-product-box products products-show">
      <div
        class="slider-furniture"
        data-items="1"
        data-slide-by="page"
        data-loop="true"
        data-gutter="30"
        data-edge-padding="0"
        data-mouse-drag="true"
        data-controls="false"
        data-nav="true"
        data-nav-container="false"
        data-autoplay="true"
        data-autoplay-button-output="false"
        data-responsive='{ "576": {"items": 2}, "992": {"items": 3}, "1200": {"items": 4} }'
        data-dots-container=".section--products .dots ul"
      >
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-product-box products products-hide">
      <div
        class="slider-furniture"
        data-items="1"
        data-slide-by="page"
        data-loop="true"
        data-gutter="30"
        data-edge-padding="0"
        data-mouse-drag="true"
        data-controls="false"
        data-nav="true"
        data-nav-container="false"
        data-autoplay="true"
        data-autoplay-button-output="false"
        data-responsive='{ "576": {"items": 2}, "992": {"items": 3}, "1200": {"items": 4} }'
        data-dots-container=".section--products .dots ul"
      >
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-product-box products products-hide">
      <div
        class="slider-furniture"
        data-items="1"
        data-slide-by="page"
        data-loop="true"
        data-gutter="30"
        data-edge-padding="0"
        data-mouse-drag="true"
        data-controls="false"
        data-nav="true"
        data-nav-container="false"
        data-autoplay="true"
        data-autoplay-button-output="false"
        data-responsive='{ "576": {"items": 2}, "992": {"items": 3}, "1200": {"items": 4} }'
        data-dots-container=".section--products .dots ul"
      >
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-product-box products products-hide">
      <div
        class="slider-furniture"
        data-items="1"
        data-slide-by="page"
        data-loop="true"
        data-gutter="30"
        data-edge-padding="0"
        data-mouse-drag="true"
        data-controls="false"
        data-nav="true"
        data-nav-container="false"
        data-autoplay="true"
        data-autoplay-button-output="false"
        data-responsive='{ "576": {"items": 2}, "992": {"items": 3}, "1200": {"items": 4} }'
        data-dots-container=".section--products .dots ul"
      >
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-product-box products products-hide">
      <div
        class="slider-furniture"
        data-items="1"
        data-slide-by="page"
        data-loop="true"
        data-gutter="30"
        data-edge-padding="0"
        data-mouse-drag="true"
        data-controls="false"
        data-nav="true"
        data-nav-container="false"
        data-autoplay="true"
        data-autoplay-button-output="false"
        data-responsive='{ "576": {"items": 2}, "992": {"items": 3}, "1200": {"items": 4} }'
        data-dots-container=".section--products .dots ul"
      >
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-item">
          <div class="product-box">
            <div
              class="photo"
              style="background-image: url('./images/products/bed_small.jpg')"
            >
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="star"></a> <a href="#" class="star"></a>
                <a href="#" class="star"></a> <a href="#" class="star full"></a>
                <a href="#" class="star full"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover old-price">$ 30.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
