<div class="section--gallery">
  <div class="container">
    <div class="gallery-container row">
      <div class="furniture-gallery col-12 col-lg-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture gallery</h3></div>
            <div class="col"></div>
          </div>
        </div>
        <div class="gallery">
          <div class="gallery-image">
            <div class="gallery-tabs">
              <p class="tab-section tab-section-first">features</p>
              <p class="tab-section active">top seleer</p>
              <p class="tab-section">sale off</p>
              <p class="tab-section">top rated</p>
            </div>
            <div class="gallery-overlay">
              <div class="outlines gallery-icons">
                <div class="icon-container">
                  <a href="#" class="btn-outline gallery-icon-gen">
                    <i class="far fa-heart"></i>
                  </a>
                  <p class="icon-description">Add to Wishlist</p>
                </div>
                <div class="icon-container">
                  <a href="#" class="btn-outline gallery-icon-gen">
                    <i class="fas fa-exchange-alt"></i>
                  </a>
                  <p class="icon-description">Add to Compare</p>
                </div>
                <div class="icon-container">
                  <a href="#" class="btn-outline gallery-icon-gen">
                    <i class="far fa-eye"></i>
                  </a>
                  <p class="icon-description">Quick View</p>
                </div>
                <div class="icon-container">
                  <a href="#" class="btn-outline gallery-icon-gen">
                    <i class="fas fa-shopping-basket"></i>
                  </a>
                  <p class="icon-description">Add to Cart</p>
                </div>
              </div>
              <div class="product-details">
                <div class="details-box">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="details-circle">
                  <p class="price-new">$120.00</p>
                  <p class="price-old">$160.00</p>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-slider">
            <div class="slider-box slider-box-arr">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="slider-box slider-image slider-active">
              <img
                src="https://ae01.alicdn.com/kf/HTB1AdDem3oQMeJjy0Fpq6ATxpXan/Japanese-Low-Sofa-Armchair-Upholstery-Fabric-Wood-Legs-Living-Room-Furniture-Modern-Relax-Decorative-Accent-Arm.jpg_640x640.jpg"
              />
            </div>
            <div class="slider-box slider-image">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsLwg_Bt0z_-5_BuEv9LglbhyuY62ZiWFbq7e4N28HFrpcLWHp"
              />
            </div>
            <div class="slider-box slider-image">
              <img
                src="https://ae01.alicdn.com/kf/HTB1XT6Lm3oQMeJjy0Foq6AShVXad.jpg?size=88306&height=600&width=600&hash=1abe746f2a4c831597a23112606ba597"
              />
            </div>
            <div class="slider-box slider-image">
              <img
                src="https://ae01.alicdn.com/kf/HTB1coViiWagSKJjy0Fbq6y.mVXav.jpg?size=99310&height=600&width=600&hash=aa498569bda8bb12f8d6c37bbe789bcc"
              />
            </div>
            <div class="slider-box slider-image">
              <img
                src="https://ae01.alicdn.com/kf/HTB16VyDmYsTMeJjSszdq6AEupXa3.jpg?size=92812&height=600&width=600&hash=a2b00fd3da2df8dddf5599691a24e1bb"
              />
            </div>
            <div class="slider-box slider-image">
              <img
                src="https://ae01.alicdn.com/kf/HTB1vetJiWmgSKJjSspiq6xyJFXa9.jpg?size=81934&height=600&width=600&hash=08de962aa64f8854689812417565bfa4"
              />
            </div>
            <div class="slider-box slider-box-arr">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="big-picture-area col-12 col-lg-6">
        <img
          src="https://images.pexels.com/photos/1454806/pexels-photo-1454806.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        />
        <div class="text-area">
          <div class="text-price">
            <p class="text-price-left">from</p>
            <p class="text-price-right">$50.80</p>
          </div>
          <p class="product-name">Bedroom Bed</p>
          <a href="#" class="btn-main-small shop-button">shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
