<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col"></div>
      </div>
    </div>
    <div class="row">
      <div id="blogCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#blogCarousel" data-slide-to="1"></li>
          <li data-target="#blogCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="post-container">
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog2.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog1.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog3.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="post-container">
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog2.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog1.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog3.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="post-container">
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog2.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog1.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <a class="post-box" href="#">
                  <div
                    class="cover"
                    style="background-image: url('./images/blog/blog3.jpg')"
                  >
                    <div class="details">
                      <div class="date">
                        <i class="fas fa-calendar-alt"></i> 15 Jan 2016
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 4 Comments
                      </div>
                    </div>
                  </div>
                  <div class="post-info">
                    <h5>Products That Fight Static</h5>
                    <p>
                      Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                      luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare
                      enim vehicula, rutrum magna in, ornare enim.
                    </p>
                    <div class="more"><span class="btn-main">Read more</span></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next control"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
