<div class="section--brands">
  <div class="container">
    <div class="brands-wrapper">
      <div class="slider-container">
        <div class="brands-nav">
          <div class="prev">
            <a href="#" data-page="prev"> <i class="fas fa-chevron-left"></i> </a>
          </div>
          <div class="next">
            <a href="#" data-page="next"> <i class="fas fa-chevron-right"></i> </a>
          </div>
        </div>
        <div
          class="slider-brands"
          data-items="2"
          data-slide-by="page"
          data-loop="true"
          data-gutter="30"
          data-edge-padding="60"
          data-mouse-drag="true"
          data-controls="false"
          data-nav="true"
          data-nav-container="false"
          data-autoplay="true"
          data-autoplay-button-output="false"
          data-responsive='{ "576": {"items": 3}, "992": {"items": 4}, "1200": {"items": 6} }'
          data-dots-container=""
        >
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand1.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand2.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand3.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand4.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand5.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand1.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand2.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand3.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand4.png" class="img-fluid" />
            </div>
          </div>
          <div class="slide-item">
            <div class="brand-box">
              <img src="./images/brands/brand5.png" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
