<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots"><ul></ul></div>
      </div>
    </div>
    <div
      class="slider-feedback"
      data-items="1"
      data-center="true"
      data-slide-by="page"
      data-loop="true"
      data-gutter="0"
      data-edge-padding="0"
      data-mouse-drag="true"
      data-controls="false"
      data-nav="true"
      data-nav-container="false"
      data-autoplay="true"
      data-autoplay-button-output="false"
      data-responsive="false"
      data-dots-container=".section--feedback .dots ul"
    >
      <div class="slide-item">
        <div class="feedback-box">
          <div class="quote">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </div>
          <div class="author row justify-content-center">
            <div
              class="photo"
              style="background-image: url('./images/feedback/feedback1.jpg')"
            ></div>
            <div class="name text-left">
              <p>John Smith</p>
              <p>Furniture client</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="feedback-box">
          <div class="quote">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </div>
          <div class="author row justify-content-center">
            <div
              class="photo"
              style="background-image: url('./images/feedback/feedback1.jpg')"
            ></div>
            <div class="name text-left">
              <p>John Smith</p>
              <p>Furniture client</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="feedback-box">
          <div class="quote">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </div>
          <div class="author row justify-content-center">
            <div
              class="photo"
              style="background-image: url('./images/feedback/feedback1.jpg')"
            ></div>
            <div class="name text-left">
              <p>John Smith</p>
              <p>Furniture client</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="feedback-box">
          <div class="quote">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </div>
          <div class="author row justify-content-center">
            <div
              class="photo"
              style="background-image: url('./images/feedback/feedback1.jpg')"
            ></div>
            <div class="name text-left">
              <p>John Smith</p>
              <p>Furniture client</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
